<div class="container__small-card">
    <div class= "container__small-card-content">
        <div class="small-card__photo">
            <img src="https://t3.ftcdn.net/jpg/05/66/09/54/360_F_566095454_YRWcyvfmcagT6wlZB5DBnU5QaxOcExOW.jpg" 
            height="200px"
            alt="">
         
             </div>
             <div class="small-card__title">
             <a href="#">saiu a nova versao do Angular</a>
            
             </div>

    </div>
   <div class="container__small-card__separator"> 
    <hr>
</div>

</div>
