<div class="container__big-card">
<div class="big-card__photo">
<img src="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/36bdc5ea4443cd8e42f22ec7d3884cbb.jpe"
height="200px"

alt=""
srcret=""
>
</div>
<div class="big-card__title">
<a href="#">saiu a nova versao do Angular</a>
</div>

<div class="big-card__discription">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem excepturi ipsam laboriosam impedit sequi, dicta labore tenetur repellat nulla. Doloribus distinctio harum dicta delectus obcaecati, beatae similique ullam rerum. Exercitationem!
    
</p>
</div>
</div>